{% extends "app.html"%}
{% load static %}
    
{% block content %}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
    <link rel="stylesheet" href="{% static 'login.css' %}">

    <form class="formulario" action="{% url 'login' %}" method="post"> 
        {% csrf_token %}
        <h1>Login</h1>

        {% if form.errors %}
            <div class="error-message">
                <p>Por favor, corrige los siguientes errores:</p>
                <ul>
                    {% for field, errors in form.errors.items %}
                        {% for error in errors %}
                            <li>{{ error }}</li>
                        {% endfor %}
                    {% endfor %}
                </ul>
            </div>
        {% endif %}

        <div class="input-contenedor">
            <i class="fa-solid fa-envelope icon"></i>
            <input class="campo_informacion" type="email" name="email" placeholder="Email">
        </div>

        <div class="input-contenedor">
            <i class="fa-solid fa-lock icon"></i>
            <input class="campo_informacion" type="password" name="password" placeholder="Contraseña">
        </div>

        <button type="submit" class="button">Iniciar sesión</button>
        <p>Al registrarte, aceptas los términos y condiciones</p>
        <p>¿No tienes una cuenta? <a class="link" href="{% url 'registro'%}">Crear una cuenta</a></p>
    </form>
{% endblock %}
