{% load static %}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
<link rel="stylesheet" href="/static/pie.css">

    <footer id="pie" class="pie_pagina">
        <div class="conten-pie">
            <div class="boton" >
                <div class="ico">
                    <a target="_blank" href="https://facebook.com/">
                        <i class="fab fa-facebook" id="fat"></i>
                    </a>
                </div>
            </div>
            
            <div class="boton">
                <div class="ico">
                    <a target="_blank" href="https://www.instagram.com/">
                        <i class="fab fa-instagram" id="inst"></i>
                    </a>
                </div>
                
            </div>
            <div class="boton">
                <div class="ico">
                    <a target="_blank" href="whatsapp://send?phone=+18292192389">
                        <i class="fab fa-whatsapp" id="what"></i>
                    </a>
                </div>
            </div>
            
        </div>
        <a href="{% url 'quienes_somos'%}" class="inform">
            <p class="informacion">Quienes somos</p>
        </a>
        <a target="_blank" href="" class="RC">
            <p class="informacion_empresa">© Copyright BIMBOMBUM 2023</p>
       </a>
    </footer>
