{% load static %}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
<link rel="stylesheet" href="/static/pie.css">

    <footer id="pie" class="pie_pagina">
        
        <div class="redes_sociales_padre">
            <div class="boton" >
                <div class="ico">
                    <a target="_blank" href="https://www.facebook.com/oliver.drullard">
                        <i class="fab fa-facebook" id="fat"></i>
                    </a>
                </div>
            </div>
            
            <div class="boton">
                <div class="ico">
                    <a target="_blank" href="https://www.instagram.com/drullardo/">
                        <i class="fab fa-instagram" id="inst"></i>
                    </a>
                </div>
                
            </div>
            <div class="boton">
                <div class="ico">
                    <a target="_blank" href="whatsapp://send?phone=+18292192389">
                        <i class="fab fa-whatsapp" id="what"></i>
                    </a>
                </div>
            </div>
        </div>
            
        
            <p class="informacion_empresa"> &copy; Copyright BIMBOMBUM 2023</p>
        

        <div class="quienes_somos">
            <a href="{% url 'quienes_somos'%}" class="inform">
                Quienes somos
            </a>
        </div>
    </footer>
