.contenedor_titulo{
  width:  150px;
  border: 1px solid black;
  border-radius: 15px;
  text-align: center;
  margin-left: 50px;
  background-color: #000;
  color: #fff;
}

.seccion-carrito{
  width: 70%;
  margin: auto;
  margin-bottom: 80px;
  
}

.div-imagen{
  width: 200px;
  border: 1px solid black;
  overflow: hidden;
  display: flex;
  justify-content: center;
  text-align: center;
  
}
.imagen-producto{
  width:  200px; 
}
.imagen-stock{
  width: 30px;
  
}

.precio{
  text-align: end;
  font-size: 40px;
}
.div-precio{
  float: right;
  
}

.informacion-carrito{
  width: 100%;
  display: flex;
}

.div-informacion-carrito{
  width: 100%;
  margin-left: 10px;
  
}

.nombre-producto{
  font-size: 21px;
}

span{
  font-size: 20px;
  
}
span > img{
  margin-right: 10px;
}

.stock{
  width: 200px;
  height: 30px;
  display: flex;
}

.div-stock{
  width: 100px;
  font-size: 20px;
  margin-left: 10px;
  border-left: 1px solid #00000031;
  justify-content: center;
  color: #0C20FF;
}

.div-stock > p{
  margin-left: 10px;
}

.talla, .colores{
  width: 125px;
  height: 40px;
  border: 2px solid #00000048;
  font-size: 20px;
  text-align: center;
}

.div-botones-cnat-sezi-color{
  display: flex;
}
.div-cantidad{
  width: 125px;
  height: 40px;
  border: 2px solid #00000048;
  display: flex;
}

.cantidad{
  width: 80px;
  border: none;
  text-align: center;
  font-size: 20px;
  outline: none;
}

.boton-menos{
  border: none;
  background-color: #fff;
  margin-left: 10px;
  font-size: 20px;
  
}

.boton-mas{
  border: none;
  background-color: #fff;
  margin-right: 10px;
  font-size: 20px;
}

.colores, .div-cantidad{
  margin-left: 10px;
}

.comprar, .eliminar{
  width: 150px;
  height: 40px;
  border-radius: 50px;
  border: none;
  color: #fff;
  background-color: #000;
}

.comprar,.eliminar{
  font-size: 20px;
}

.comprar > i{
  margin-left: 10px;
  color: #fff;
}
.eliminar > i{
  margin-right: 10px;
}
.div-subtotal{
  float: right;
  margin-top: 10px;
  width: 150px;
  height: 40px;
  border: 2px solid black;
  border-radius: 10px;
  display: flex;
  text-align: center;
  justify-content: center;
  
}
.div-subtotal p{
  margin-bottom: 0px;
  margin-top: 5px;
}

.total{
  font-size: 30px;
  float: right;
  margin-bottom: 20px;

}

