/*seccion de la ropa*/
main{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
    
}
.contenedor{
    display: flex;
    width: 600px;
    height: 700px;
    left: 50%;
    right: 50%;
    top: 50%;
    bottom: 50%;
    border-radius: 25px;
    background-color: #000000;

    
    max-width: 1100px;
    margin-top: 40px;
    margin-left: 100px ;
  }
  
  .card{
    width: 350px;
    height: 400px;
    margin: 20px;
    border-radius: 10px;
    background: #fff;
    box-shadow: 0px 1px 10px rgba(0,0,0,0.2);
    cursor: default;
  }
  
 
  
  figure img {
    width: 350px;
    height: 400px;
    border-radius: 10px;
  
  }

  i{
    padding:5px;
    transition: all 400ms ease;
  }

.card .fa-heart:hover {
  color: #ff0000;
  font-size: 20px;
  transition: all 400ms ease;
  

}
.card .fa-cart-shopping:hover{
  color: #0485FD;
  font-size: 20px;
  transition: all 400ms ease;
}
.card .fa-money-bill-1-wave:hover{

  color: #85bb65;
  font-size: 20px;
  transition: all 400ms ease;

}

.descriccion{
    float: right;
    padding-left: 300px;
    margin-top: 250px;
    color: #ffffff;
    text-decoration: underline;
    cursor: default;
    
}
.i_logos_compras{
  color:#ffffff;
}

.cantidad{
  width: 50px;
  height: 30px;
  text-align: center;
  font-size: 20px;
  
  
}

.precio{
  color: #ffffff;
}

.logosC{
  margin-left: 100px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 25px;
}

.boton_comprar{
  width: 100px;
  font-size: 20px;
  margin-left: 225px;
  margin-top: 30px;
}