
/*Estilos para el pie de pagina */


.pie_pagina {
  background-color: #000000;
  padding: 10px;
  margin-top: 20px;
  height: 50px;
  position: absolute;
  margin-bottom: 0;
  width: 100%;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;


}
/* Contenedor de las redes sociales */
.redes_sociales_padre{
 margin-right: auto;
 display: flex;

}
.boton{
  margin-left: 10px;
  width: 40px;
  border-radius: 50%;
  background-color: #ffffff;
  transition: all 0.3s ease-out;
}

/* contenedor Quienes somos */
.quienes_somos{
  height: 35px;
  border: 1px solid black;
  border-radius: 50px;
  padding: 5px;
  background-color: #ffffff;
  transition: all 0.3s ease-out;
  margin-left: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  
}

.quienes_somos{
  padding-bottom: 0px;
}



.pie_pagina{
  position: absolute;
  bottom: 0;
  width: 100%;
}
a{
  margin-bottom: 0;
  text-decoration: none;
  color: black;
}


.ico i{
  font-size: 35px;
}
.ico{
  display: flex;
  justify-content: center;
  align-items: center;
}
#fat{
  padding: 2px;
}
#inst{
  padding: 2px;
  
}

.boton:hover{
  transform: translateY(-25%);
  color: rgb(24.71%, 44.71%, 60.78%) ;
}

#what:hover{
  color: #25D366 ;
}

#inst:hover{
  color: #3f729b;
 
}

#fat:hover{
  color: #3b5998 ;
}


.quienes_somos:hover{
  transform: translateY(-25%);
  /* background-color: #000000; */
}



.informacion_empresa{
  padding-top: 10px;
  color: #ffffff;
  margin: 0;
}