*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.formulario{
    background-color: #000000;
    margin: 0;
    padding: 3px;
}

.contenedor__registro{
    width: 100%;
    padding: 15px;
    
}


h1{
    text-align: center;
    color: #ffffff;
    font-size: 40px;
}

.campo_informacion{
    font-size: 20px;
    width: 88%;
    padding: 5px;
    border: none;
    

}

.input-contenedor{
    margin-bottom: 15px;
    border: 1px solid #aaa;
    width: 98%;
    

}

.icon{
    min-width: 50px;
    text-align: center;
    color: #999;

}

.button{
    border: none;
    width: 98%;
    color: #ffffff;
    font-size: 20px;
    background-color: #000000;
    padding: 15px 20px;
    border-radius: 5px;
    cursor: pointer;
}

button:hover{
    color: #000000;
    background-color: #ffffff;

}

p{
    text-align: center;
    color: #ffffff;

}

.link{
    text-decoration: none;
    color: #ffffff;
    font-weight: 600;


}


@media(min-width:780px){
    .formulario{
        margin: auto;
        width: 500px;
        margin-top: 150px;
        border-radius: 2%;
    }
}