{% extends "app.html"%}
{% load static %}

{% block content %}

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
    <link rel="stylesheet" href="/static/card.css">
    
{% include "carrusel.html" %}
<br>
<br>
    <section>
        <div class="contenedor">
            {% for productoCosmeticos in producto_cosmetico_r %}
                
                    <div class="card">
                        <figure>
                            <img src="{{ productoCosmeticos.imagen.url }}  " alt="{{ productoCosmeticos.nombre }}">
                        </figure>
                        <h5>{{ productoCosmeticos.nombre }}</h5>
                        <div class="inform">
                            <p class="precio">$ {{ productoCosmeticos.precio }}</p>
                            <i class="fa-solid fa-cart-shopping"></i>
                            <i class="fa-solid fa-heart"></i>
                        </div>
                    </div>
                
            {% endfor %}
        </div>
        
    </section>
{% endblock %}
