{% extends "app.html"%}
{% load static %}

{% block content %}    
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
    <link rel="stylesheet" href="/static/carrito.css">
    <title>BIM,BOM,BUM/Inicio</title>

    <div class="contenedor_titulo">
        <h3 class="titulo_megusta">&#128722;Carrito</h3>
    </div>
    <section class="seccion-carrito">
        {% for item in cart %}
        <hr>
        <div class="informacion-carrito">
            
           <div class="div-imagen">
            <img src="{{ item.producto.imagen.url }}" alt="imagen-producto" class="imagen-producto">
           </div>

           <div class="div-informacion-carrito">
                <div class="div-precio"><p class="precio"><b>${{ item.precio }}</b></p></div>
                <p class="nombre-producto"><b>Nombre del producto</b></p>
                <div class="stock">
                    <span><img src="/static/logos/en-stock.png" alt="stock" class="imagen-stock">{{ item.producto.stock}}</span>
                    <div class="div-stock">
                        <p>In stock</p>
                    </div>
                </div>
                <br>

              <div class="div-botones-cnat-sezi-color">
                <select name="tallas" id="tallas" class="talla">
                    {% for talla in item.producto.lista_tallas %}
                    <option value="{{ talla }}">{{ talla}}</option>
                    {% endfor %}
                </select>

                <select name="color" id="color" class="colores">
                    {% for color in item.producto.lista_colores %}
                    <option value="{{ color }}">{{ color }}</option>
                    {% endfor %} 
                </select>

                <div class="div-cantidad">
                    <form method="post" action="{% url 'cart:agregar_al_carrito' producto_id=item.producto.id_producto %}">
                        {% csrf_token %}
                        <button type="submit" class="boton-menos" id="menos" name="action" value="decrement">-</button>
                    </form>
                    <input type="number" min="1" max="{{ producto.stock }}" name="cantidad" value="{{ item.cantidad }}" class="cantidad">

                    <form action="{% url 'cart:agregar_al_carrito' producto_id=item.producto.id_producto %}" method="post" style="display: inline;">
                        {% csrf_token %}
                        <button type="submit" name="action" value="increment" class="boton-mas">+</button>
                    </form>
                </div>
              </div>
                <br>
                <a href="{% url 'cart:Confirmar_pedido'%}">
                    <button class="comprar" value="decrement" name="action">
                        <i class="fas fa-credit-card"></i>Comprar
                    </button>
                </a>
                
                <form action="{% url 'cart:eliminar_del_carrito' producto_id=item.producto.id_producto %}" method="post" style="display: inline;">
                    {% csrf_token %}
                    <button type="submit" class="eliminar">
                        <i class="fas fa-trash"></i> Eliminar
                    </button>
                </form>

                <div class="div-subtotal">
                    <p><strong>${{ item.total }}</strong></p>
                </div>
            </div>
            
        </div>
        <hr>
        {% endfor %}
        <div>
            <p class="total"><strong>${{ cart.get_total_price }}</strong></p>
        </div>
    </section>
    
    {% endblock%}

    