{% extends "app.html"%}
{% load static %}

{% block content %}    
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
    <link rel="stylesheet" href="/static/carrito.css">
    <title>BIM,BOM,BUM/Inicio</title>

    <div class="contenedor_titulo">
        <h3 class="titulo_megusta">&#128722;Carrito</h3>
    </div>
    <section class="seccion-carrito">
        <hr>
        <div class="informacion-carrito">
            
           <div class="div-imagen">
            <img src="/media/static/abrigo_hombre1.jpg" alt="imagen-producto" class="imagen-producto">
           </div>

           <div class="div-informacion-carrito">
                <div class="div-precio"><p class="precio"><b>$12.99</b></p></div>
                <p class="nombre-producto"><b>Nombre del producto</b></p>
                <div class="stock">
                    <span><img src="/static/logos/en-stock.png" alt="stock" class="imagen-stock">50</span>
                    <div class="div-stock">
                        <p>In stock</p>
                    </div>
                </div>
                <br>

              <div class="div-botones-cnat-sezi-color">
                <select name="tallas" id="tallas" class="talla">
                    <option value="small">S</option>
                    <option value="medium">M</option>
                    <option value="large">L</option>
                    <option value="extralarge ">XL</option>
                    <option value="extraextralarge">XXL</option>
                </select>

                <select name="color" id="color" class="colores">
                    <option value="blanco">Blanco</option>
                    <option value="negro">Negro</option>
                    <option value="azul">Azul</option>
                    <option value="verde">Verde</option>
                    <option value="morado">Morado</option>
                </select>

                <div class="div-cantidad">
                    <button class="boton-menos" id="menos">-</button>
                    <input type="number" min="1" value="1" class="cantidad">
                    <button class="boton-mas" id="mas">+</button>
                </div>
              </div>
                <br>
                <button class="comprar"><i class="fas fa-credit-card"></i>Comprar</button>
                <button class="eliminar"><i class="fas fa-trash"></i>Elimnar</button>
            </div>
           
        </div>
        <hr>
    </section>
    {% endblock%}

    