{% extends "app.html" %}
{% load static %}

{% block content %}    
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
    <link rel="stylesheet" href="{% static 'card.css' %}">
    <title>BIM,BOM,BUM/Inicio</title>

    {% include "carrusel.html" %}
    
<section class="seccion_ropa">
    <div class="contenedor">
        {% if categoria %}
            {% if producto_r %}
                {% for producto in producto_r %}
                    <div class="card">
                        <figure>
                            <a href="{% url 'detallesProductos' producto.id_producto %}">
                                <img src="{{ producto.imagen.url }}" alt="{{ producto.nombre }}">
                            </a>
                        </figure>
                        <h5 class="nombre_articulo">{{ producto.nombre }}</h5>
                        <div class="inform">
                            <p class="precio">$ {{ producto.precio }}</p>
                            <i class="fa-solid fa-cart-shopping"></i>
                            <i class="fa-solid fa-heart"></i>
                        </div>
                    </div>
                {% endfor %}
            {% else %}
                <p>No hay productos en esta categoría.</p>
            {% endif %}

        {% else %}
            <p>No se encontró la categoría seleccionada.</p>
        {% endif %}
    </div>       
</section>
{% endblock %}
