{% extends "app.html" %}
{% load static %}

{% block content %}
    <link rel="stylesheet" href="/static/pantallaMensajes.css">


    <div class="titulo-mensaje">
        <h3 class="titulo_mensaje">Mensajes</h3>
    </div>

    <section class="seccion-mensajes">
        <div class="contenedor-mensaje">
            <h4 class="asunto">Oferta&#x1F525;</h4>
            <p class="mensaje">
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. 
                Impedit corporis iste eum accusamus vitae sequi corrupti 
                necessitatibus adipisci aliquam, soluta rerum quae tempora 
                eaque cumque placeat? Harum voluptatibus tenetur voluptate.
            </p>
            <div class="div-padre-imagen-boton">
                <div class="div-imagen">
                    <img src="/static/imagenes/imagen1.jpg" alt="Imagen del producto" class="imagen-mensaje">
                </div>
            </div>
            <div class="div-mensajes-botones">
                <button class="boton-comprar-mensaje">Comprar</button>
                <button class="boton-eliminar-mensaje">Eliminar</button>
            </div>
        </div>
        
    </section>
    
{% endblock %}