{% extends "app.html"%}
{% load static %}

{% block content %}
    <link rel="stylesheet" href="/static/quienes_somos.css">
   <section class="seccion-formacion">
        
        <div class="infromacion_empresa">
            <div class="tarjeta">
                <h1>Comose nuestra historia</h1>
                <div class="div-imagen">
                        <img src="/static/imagenes/recursos/pexels-andrea-piacquadio-941555.jpg" alt="Imagen de la empresa">
                </div>
                <P>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. 
                    Quidem consequatur recusandae ipsa ex maiores perspiciatis 
                    reprehenderit natus exercitationem neque, qui ab cumque optio 
                    beatae voluptates libero ea distinctio mollitia voluptate corporis 
                    veritatis ullam tempora et, porro ipsum. Aut molestias aliquam vitae, 
                    nostrum veritatis, commodi ex omnis placeat nesciunt impedit nobis, 
                    ipsam libero voluptate ullam autem explicabo vero fuga soluta ipsum. 
                    Consequuntur eligendi voluptatum perferendis beatae quo, quidem sed 
                    totam? Excepturi magnam unde molestiae rem, fugit enim, ullam animi sequi 
                    possimus beatae incidunt maxime cum sed, porro nobis est nulla voluptate 
                    cumque? Sit voluptas omnis dolorum quaerat nihil harum repellat recusandae.
                </P>
            </div>

            <div class="tarjeta">
                <h1>Que hacemos y porque lo hacemos</h1>
                <div class="div-imagen">
                    
                        <img src="/static/imagenes/recursos/pexels-fauxels-3184465.jpg" alt="Imagen de la empresa">
                    
                </div>
                <P>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. 
                    Quidem consequatur recusandae ipsa ex maiores perspiciatis 
                    reprehenderit natus exercitationem neque, qui ab cumque optio 
                    beatae voluptates libero ea distinctio mollitia voluptate corporis 
                    veritatis ullam tempora et, porro ipsum. Aut molestias aliquam vitae, 
                    nostrum veritatis, commodi ex omnis placeat nesciunt impedit nobis, 
                    ipsam libero voluptate ullam autem explicabo vero fuga soluta ipsum. 
                    Consequuntur eligendi voluptatum perferendis beatae quo, quidem sed 
                    totam? Excepturi magnam unde molestiae rem, fugit enim, ullam animi sequi 
                    possimus beatae incidunt maxime cum sed, porro nobis est nulla voluptate 
                    cumque? Sit voluptas omnis dolorum quaerat nihil harum repellat recusandae.
                </P>
            </div>

            <div class="tarjeta">
                <h1>Valores y compromiso</h1>
                <div class="div-imagen">
                    
                        <img src="/static/imagenes/recursos/pexels-ketut-subiyanto-4246109.jpg" alt="Imagen de la empresa">
                    
                </div>
                <P>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. 
                    Quidem consequatur recusandae ipsa ex maiores perspiciatis 
                    reprehenderit natus exercitationem neque, qui ab cumque optio 
                    beatae voluptates libero ea distinctio mollitia voluptate corporis 
                    veritatis ullam tempora et, porro ipsum. Aut molestias aliquam vitae, 
                    nostrum veritatis, commodi ex omnis placeat nesciunt impedit nobis, 
                    ipsam libero voluptate ullam autem explicabo vero fuga soluta ipsum. 
                    Consequuntur eligendi voluptatum perferendis beatae quo, quidem sed 
                    totam? Excepturi magnam unde molestiae rem, fugit enim, ullam animi sequi 
                    possimus beatae incidunt maxime cum sed, porro nobis est nulla voluptate 
                    cumque? Sit voluptas omnis dolorum quaerat nihil harum repellat recusandae.
                </P>
            </div>
            
            <div class="tarjeta">
                <h1>Comose nuestra historia</h1>
                <div class="div-imagen">
                        <img src="/static/imagenes/recursos/pexels-kindel-media-6869042.jpg" alt="Imagen de la empresa">
                </div>
                <P>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. 
                    Quidem consequatur recusandae ipsa ex maiores perspiciatis 
                    reprehenderit natus exercitationem neque, qui ab cumque optio 
                    beatae voluptates libero ea distinctio mollitia voluptate corporis 
                    veritatis ullam tempora et, porro ipsum. Aut molestias aliquam vitae, 
                    nostrum veritatis, commodi ex omnis placeat nesciunt impedit nobis, 
                    ipsam libero voluptate ullam autem explicabo vero fuga soluta ipsum. 
                    Consequuntur eligendi voluptatum perferendis beatae quo, quidem sed 
                    totam? Excepturi magnam unde molestiae rem, fugit enim, ullam animi sequi 
                    possimus beatae incidunt maxime cum sed, porro nobis est nulla voluptate 
                    
                </P>
            </div>
           

        </div>
   </section>
{% endblock %}